body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; /* Center text horizontally */
    color: #fff; /* Text color */
}

i {
    color: #000;
    font-size: 200px;
    text-shadow: 0 0 10px pink, 0 0 50px pink;
    animation: heartbeat 0.8s infinite;
}

.text-center {
    position: relative;
    display: block ;
    font-size: 30px; /* Adjust the font size as needed */
    margin-top: -150px; /* Adjust the margin as needed */
}

@keyframes heartbeat {
    0% {
        transform: scale(1.10);
    }

    30% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.9);
    }
}
